---
const { action } = Astro.props;
---

<!-- creating form for the sign up purpose for user -->
<form class="login" action={action} method="POST">
    <h3>Sign Up</h3>
    <input type="text" name="username" placeholder="Username" required />
    <input type="email" name="email" placeholder="Email" required />
    <input type="password" name="password" placeholder="Password" required />
    <input type="password" name="password_confirmation" placeholder="Confirm Password" required />
    <button type="submit">Sign Up</button>
    <span class="error" id="error-message"></span>
    <h5>Already have an account?</h5>
    <a href="/login">Login</a>

    <style>
    </style>
</form>
