---
import SignupForm from "../components/signupForm.astro";
import Nav from "./nav.astro";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Sign Up</title>
        <link rel="stylesheet" href="src/styles/login.css" />
        <link rel="stylesheet" href="src/styles/global.css" />
        <style>
            main {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100vh;
            }
        </style>
    </head>
    <body>
        <Nav />
        <main>
            <SignupForm action="http://localhost:3000/signup" />
        </main>

        <script>
            document
                .querySelector("form")
                .addEventListener("submit", async function (event) {
                    event.preventDefault();

                    // collecting the entered data and appending the to the form data
                    const formData = new FormData(event.target);
                    const data = Object.fromEntries(formData.entries());

                    // crossing checking the entered passwords
                    if (data.password !== data.password_confirmation) {
                        document.getElementById("error-message").innerText =
                            "Passwords do not match!";
                        return;
                    }

                    try {
                        // fetching the backend and sending the formdata
                        const response = await fetch(event.target.action, {
                            method: "POST",
                            headers: { "Content-Type": "application/json" },
                            credentials: "include",
                            body: JSON.stringify(data),
                        });

                        // if ok redirecting the user to the login page
                        if (response.ok) {
                            const result = await response.json();
                            // Handle successful response
                            window.location.href = "/login"; // Redirect to login page or show success message
                        } else {
                            const error = await response.json();
                            document.getElementById("error-message").innerText =
                                error.message;
                        }
                    } catch (error) {
                        console.error("Error:", error);
                        document.getElementById("error-message").innerText =
                            "An error occurred. Please try again.";
                    }
                });
        </script>
    </body>
</html>
